.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.headerRow {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 1.875rem;
  margin-right: 2.5rem;
}

.backLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.25rem;
}


.heroSection {
  padding-top: 8rem;
  padding-left: 1rem;
  background-image: url('../../../../assets/images/articles/title.png');
  background-size: cover;
  min-height: 380px;
}

@media (min-width: 1024px) {
  .heroSection {
    padding-left: 4rem;
  }
}

.heroTitle {
  color: black;
  font-weight: 600;
  font-size: 2.25rem;
}

@media (min-width: 1024px) {
  .heroTitle {
    width: 29.5625rem;
  }
}

.content {
  padding-top: 2rem;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .content {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 8rem;
  }
}

.paragraph {
  padding-bottom: 2rem;
  max-width: none;
}

.paragraphTop {
  padding-top: 2rem;
  max-width: none;
}

.heading2 {
  max-width: none;
}

.heading2WithPadding {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: none;
}

.imageCenter {
  display: flex;
  justify-content: center;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.imageContainerBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.authorSection {
  padding-top: 2rem;
  font-style: italic;
}

.bold {
  font-weight: 700;
}
